<h3>List from AboutUs</h3>
<div my-direct items="items"></div> 

<hr style="height:1px; width:70%; border-width:0;  background-color:#000000">
<div>
    <div style="margin-top:10px;">Enter Number to find square of it: <input type="text" ng-model="input"> <button style="margin-bottom:10px;" ng-click="squarew(input)">X</button> </div>
    <div> </div>
</div>
<div class="col-lg-6" >
    <div class="col-md-2">Result: {{output}}</div>
</div>
<hr style="height:1px; width:70%; border-width:0;  background-color:#000000">
